/* Main Page */

:root {
    --primaryColor: #e04040;
    --primaryBackgroundColor: #1f1f1f80;
    --secundaryBackgroundColor: #8a8a8a80;
    --tertiaryBackgroundColor: #ffffff80;
    --primaryText: #dddddd;
    --secundaryText: #ababab;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    font-weight: lighter;
    user-select: none;
}

*:focus {
    outline: none !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none;
    width: 15px;
}

::selection {
    background: var(--primaryColor);
}

/* Background */

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-blur {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
}

/* Buttons */

.buttonf {
    background: none;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: var(--primaryText);
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    outline: none !important;
    text-decoration: none !important;
}

/* Buttons Hover */

.buttonf:hover,
.btn-create:hover {
    background: var(--primaryBackgroundColor);
    color: var(--primaryColor);
}


.active {
    color: var(--primaryColor);
    background: var(--primaryBackgroundColor);
}

/* Inputs */

.inputf {
    font-size: 18px;
    height: 30px;
    width: 400px;
    background: var(--primaryBackgroundColor);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    color: #ddd;
}

/* Custom Title Bar */

#title-bar {
    position: fixed;
    top: 0px;
    height: 31px;
    width: 100%;
    background: var(--primaryBackgroundColor);
    z-index: 99999;
    -webkit-app-region: drag;
}

#app-title {
    position: fixed;
    font-size: 13px;
    top: 5px;
    left: 13px;
    color: var(--primaryColor);
}

/* Window Buttons */

#window-buttons {
    position: fixed;
    display: flex;
    flex-direction: row;
    right: 0px;
    height: 31px;
    width: 90px;
    -webkit-app-region: no-drag;
}

#minimizeButton {
    height: 31px;
    width: 45px;
}

#minimizeButton:hover {
    background: #3a3a3a80;
}

#closeButton {
    height: 31px;
    width: 45px;
}

#closeButton:hover {
    background: #bb011480;
}

.win-icon {
    margin-top: 3px;
    margin-left: 17px;
    width: 10px;
    height: 10px;
}

/* Nav Bar */

#nav-bar {
    position: fixed;
    top: 31px;
    left: 0px;
    height: 100%;
    width: 100px;
    background: var(--primaryBackgroundColor);
    z-index: 99999;
}

#nav-buttons {
    height: 100%;
    display: flex;
    margin-top: -10px;
    flex-direction: column;
    justify-content: center;
}

.nav-button {
    height: 80px;
    width: 80px;
    margin: 5px 10px;
    padding: 0;
}

/* Content */

#content {
    display: none;
    margin-left: 100px;
    margin-top: 41px;
}

/* Sections */

#home-section, #tasks-section, #timers-section, #settings-section {
    display: none;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.9s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

/* Boxes */

.box {
    background-color: var(--primaryBackgroundColor);
    width: 1125px;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Wrap Buttons */

.buttons-wrap {
    height: 50px;
    text-align: center;
}

/* Hr */

#line {
    border: 3px solid var(--primaryColor);
    margin: 0px 20%;
    border-radius: 2px;
}

/* Clock Display */

.display {
    color: var(--primaryColor);
    font-weight: 400;
}

/* Timers Section */

.timer {
    font-size: 72px;
    text-align: center;
    color: var(--primaryText);
}


.nav-section {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: var(--primaryBackgroundColor);
}

.nav-section-button {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    height: 40px;
}

.nav-section-button i {
    margin-left: 5px;
}

/* Time Tracker */

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#align-tt {
    position: relative;
    left: 10px;;
    top: 10px;
}

#task_to_track {
    width: 300px;
}


/* Forms */

.form {
    margin-left: 10px;
    padding-bottom: 10px;
}

/* To Do List */

#tasks-row button {
    margin-left: 3px;
    margin-top: 3px;
    height: 35px;
    width: 35px;
}

#main-task-list {
    list-style-type: none;
    color: var(--primaryText);
    width: 1115px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-task-list li {
    font-style: normal;
    font-weight: normal;
    color: var(--primaryText);
}

.task-name {
    margin-left: 10px;
    text-align: left;
}

.task-desc {
    margin-left: 8px;
}

.task-buttons {
    display: none;
    float: right;
    width: 15%;
    margin-left: auto;
}

.primary-task {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    padding: 7px 10px;
    height: 50px;
    font-size: 21px;
    background-color: var(--primaryBackgroundColor);
}

.secundary-task {
    position: relative;
    margin: 10px 10px 10px 10px;
    padding: 7px 10px;
    font-size: 20px;
    height: 50px;
    background-color: var(--primaryBackgroundColor);
}

.secundary-task-list {
    list-style-type: none;
}

.secundary-task-a {
    display: flex;
    flex-direction: row;
}

#invis {
    height: 1px;
}

/* Alert Box */

#alert-box {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 350px;
    background-color: var(--primaryBackgroundColor);
    box-shadow: 0px 4px 40px #00000040;
    border-radius: 10px;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.9s;
    animation-name: fadeIn;
    animation-duration: 0.9s;
}

.custom-alert-box {
    height: 200px;
    width: 400px;   
}

.custom-alert-box p {
    color: var(--primaryText);
    margin-top: 35px;
    text-align: center;
}

.alert-box-title {
    text-align: center;
    color: var(--primaryColor);
    margin-top: 30px;
}

.close-alert {
    position: fixed;
    top: 30px;
    right: 30px;
}

#input-name {
    margin-top: 30px;
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 28px;
    line-height: 44px;
    width: 80%;
    color: #C4C4C4;
}

#input-desc {
    margin-top: 15px;
    margin-left: 10px;
    background: none;
    border: none;
    color: #C4C4C4;
    font-size: 19px;
    width: 80%;
    resize: none;
}

.btn-create {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: var(--primaryText);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 19px;
    cursor: pointer;
}

/* Preferences */

.btn-form {
    background: none;
    text-align: center;
    width: auto;
    color: #ddd;
    margin: 10px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}