@font-face {
    font-family: ProximaNovaAltLight;
    src: url("fonts/Proxima Nova Alt Light.otf") format("opentype");
}


/* Scrollbar Width */

::-webkit-scrollbar {
    width: 10px;
}


/* Scrollbar Track */

::-webkit-scrollbar-track {
    background: #1E1E1E;
}


/* Scrollbar Handle */

::-webkit-scrollbar-thumb {
    background: #2c2c2c;
}


/* Scrollbar Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #181818;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #292929;
    font-family: ProximaNovaAltLight;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.title {
    margin-top: 25%;
    margin-top: 35px;
    color: #ddd;
    font-size: 32px;
    font-family: ProximaNovaAltLight;
    text-align: center;
}

hr.separator {
    border: 1px solid #ddd;
    margin-right: 20%;
    margin-left: 20%;
}

hr.separator2 {
    border: 1px solid #ddd;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.shadow {
    -moz-box-shadow: inset 0 0 10px #121212b0;
    -webkit-box-shadow: inset 0 0 10px #121212b0;
    box-shadow: inset 0 0 10px #121212b0;
}

.textShadow {
    text-shadow: 2px 2px 8px #121212b0;
}


/* Icons */

#img-icon {
    width: 15px;
    height: 15px;
}

#garbage-icon {
    width: 15px;
    height: 15px;
}


/* Cronometer */

#cronometer-time {
    font-size: 72px;
    margin-bottom: 20px;
    color: white;
}

#cronometer-time p {
    display: inline;
}


/* Timer */

#timer-time {
    font-size: 72px;
    margin-bottom: 20px;
    color: white;
}

#timer-time p {
    display: inline;
}

#date-display {
    position: relative;
    left: 50%;
    margin-top: 10%;
    font-family: ProximaNovaAltLight;
    transform: translateX(-50%) translateY(-50%);
    color: #ddd;
    font-size: 30px;
    letter-spacing: 7px;
}

#clock-display {
    position: relative;
    left: 50%;
    margin-top: 3%;
    font-family: ProximaNovaAltLight;
    transform: translateX(-50%) translateY(-50%);
    color: #ddd;
    font-size: 100px;
    letter-spacing: 7px;
}

#timers-row {
    margin-top: 50px;
}

#todolist-row {
    margin-top: 150px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #458B00;
}

input:focus+.slider {
    box-shadow: 0 0 1px #458B00;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* To Do List */

#todolist-title {
    margin-top: 5%;
}

#todolist-form label {
    font-weight: bold;
    color: #ddd;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    text-decoration: none;
}

#input-name {
    background-color: #292929;
    margin-right: 10px;
    border: 1px solid #ddd;
    width: 15%;
    padding: 4px;
    border-radius: 5px;
    color: #ddd;
}

#input-desc {
    background-color: #292929;
    border: 1px solid #ddd;
    color: #ddd;
    padding: 4px;
    width: 24%;
    border-radius: 5px;
}

#help-text {
    margin-top: 15px;
    margin-bottom: 30%;
    color: #bbb;
}

#task-test {
    list-style-type: none;
    color: #ddd;
    width: 80%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

#task-test li {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    margin-top: 10px;
    color: #ddd;
    height: 50px;
    background-color: #3A3A3A;
    border-collapse: collapse;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
}

#generalstatus {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 11px;
    left: 11px;
}

.statusball {
    width: 26px;
    height: 26px;
    background: #F50C55;
    box-sizing: border-box;
    border-radius: 50%;
}

.statusname {
    margin-left: 10px;
    text-align: left;
}

.statusdesc {
    margin-left: 8px;
}

.status-delete {
    float: right;
    width: 15%;
    margin-left: auto;
}

.btn {
    background-color: rgb(49, 49, 49);
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: rgb(131, 131, 131);
}